body{
    margin: 0;
    padding: 0;
}
form{
    display: none;
    border: 1px solid black;
    width: 400px;
    height: 450px;
    margin-top: 150px;
    margin-left: 500px;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}
input[type="text"], input[type="email"], input[type="tel"], input[type="password"]{
    width: 300px;
    height: 30px;
    text-align: left;
    margin: 10px;
    outline: none;
    margin-left: 50px;
}
input[type="submit"]{
    width: 70px;
    height: 30px;
    margin: 10px;
    margin-left: 150px;
}
