*{
    margin: 0;
    padding: 0;
    font-family: 'Cardo', serif;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(/Images/landscape-1112911__340.webp);
    height: 100vh;
    background-size: cover;
    background-position: relative;
    
}
.nav-menu{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.nav-menu li{
    display: inline-block;
}
.nav-menu li a{
    text-decoration: none;
    padding: 5px 20px;
    font-family: cursive;
    font-size: 20px;
    color: whitesmoke;
}
.nav-menu li a:hover{
    background-color: white;
    color: black;
}
.backimg{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(Images/landscape-1112911__340.webp);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.profile{
    width: 350px;
    background-color: rgba(0,0,0,0.2);
    padding: 30px 0;
    border-radius: 10px;
}
img{
    height: 180px;
    border-radius: 100px;
}
.profiletext{
    margin-bottom: 20px;
}
.profiletext h2{
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 10px;

}
.profiletext h3{
    font-size: 1.4em;
    font-weight: 500;
    margin-bottom: 10px;
}
i{
    color: white;
    margin: 5px;
    padding: 5px;
}






























